/* *
.hero_img {
    position: relative;
}

.hero_img::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 10px;
    height: 30px;
    background-image: linear-gradient(to bottom, rgba(225, 225, 225, 0), rgba(225, 225, 225));
}

*/
/*
.hero_img {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 10;
    margin-top: -100px;
}

.hero_img::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    
}
    */

        .hero_img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 120px;
            /* Adjust height for better fade */
            z-index: 1;
            pointer-events: none;
        }
    
        .hero_img::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
        }